In [2]:
import pandas as pd
import zipfile
import os

In [3]:
files = ['stats', 'stops.geojson']
prefix = '../data/world_data/'
for file in os.listdir('../data/world_data/1186215/'):
    os.mkdir(f'{prefix}/{file.split(".")[0]}')

FileNotFoundError: [WinError 3] The system cannot find the path specified: '../data/world_data/1186215/'

In [4]:
output_df = pd.DataFrame(columns=['city','center_lat','center_long','network_length'])
path = '../data/world_data/'
for folder in os.listdir(path):
    df = pd.read_csv(path+folder+'/stats.csv', delimiter=';')
    center_lat = df['buffer_center_lat'].item()
    center_long = df['buffer_center_lon'].item()
    network_len = df['network_length_m'].item()
    output_df.loc[len(output_df.index)] = [folder.capitalize(),center_lat,center_long,network_len]

In [5]:
output_df

          city  center_lat  center_long  network_length
0     Adelaide  -34.921266   138.577492         4773959
1      Belfast   54.600091    -5.930410          673800
2       Berlin   52.519004    13.402914         8986014
3     Bordeaux   44.841204    -0.575054         1625984
4     Brisbane  -27.457992   153.022583         6492039
5     Canberra  -35.276662   149.125368         2096552
6      Detroit   42.369960   -83.080725         1611218
7       Dublin   53.349688    -6.256561         2832518
8     Grenoble   45.177175     5.722774          806106
9     Helsinki   60.173256    24.940857         4557180
10      Kuopio   62.894469    27.680730          394163
11      Lisbon   38.709562    -9.141998         4161758
12  Luxembourg   49.611146     6.132858         3343826
13   Melbourne  -37.849345   145.079272        10812241
14      Nantes   47.213320    -1.551642         1209034
15     Palermo   47.213320    -1.551642         1209034
16       Paris   48.861927     2.351903         8866260
17      Prague   50.084554    14.431075         5390088
18      Rennes   48.107901    -1.674926         1061745
19        Rome   41.896259    12.485317         4101470
20      Sydney  -33.826918   151.064342        14989660
21    Toulouse   43.602105     1.442845         1551485
22       Turku   60.449128    22.267105          885656
23      Venice   45.488238    12.241631         1814553
24    Winnipeg   49.881858   -97.135217         1557934

In [6]:
output_df.to_csv('../data/world_pt.csv', index=False)